@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link" style="color:white !important"><i class="fa fa-sign-out fa-2x" style="background-color: transparent; color: white"></i>Logout</button>
        </form>
    </li>
}
else
{
    @*<li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Register" style="color:white !important">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login" style="color:white !important">Log in</a>
    </li>*@
}
</ul>
