@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

    All products page
*@
@{
}
@model List<ProductionPlanner.Domain.Models.Material>
<br>
<div class="mx-auto text-center">
    <h1><b>Materials</b></h1>
</div>


@if (ViewBag.Errors != null)
{
    @foreach (var err in ViewBag.Errors)
    {
        <div class="alert alert-danger" role="alert">
            @err
        </div>
    }
}
@if (ViewBag.Message != null)
{

    <div class="alert alert-success" role="alert">
        @ViewBag.Message
    </div>
}
<br />
<div class="row mx-auto">
    <div class="mx-auto">
        <a asp-action="Index" asp-controller="Material" class="btn btn-primary">Create new material</a>
    </div>
</div>
<br />
<br />
<div class="w-50 mx-auto">


    <table class="table">
        <tr>
            <th>
                Material Name
            </th>
            <th>
                Cost per Unit
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaterialName)
                </td>
                <td>
                    @item.CostPerUnit.ToString("0.00") €
                </td>

                <td>
                    <a asp-action="Edit" asp-controller="Material" asp-route-id="@item.Id" class="btn text-light" style="background-color: #61c97d">Edit</a>
                </td>
            </tr>
        }

    </table>
</div>