@model ProductionPlanner.Domain.Models.Product
@{
    ViewData["Title"] = "Edit Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h1 class="text-center"><b>Edit product</b></h1>
<br />
@if(ViewBag.Message != null)
{
    <div class="alert alert-success">
        <p>@ViewBag.Message</p>
    </div>
}
<br />
<div class="mx-auto w-75">
    <form asp-controller="Product" asp-action="Edit" method="post">
        <input type="hidden" asp-for="IsValid" asp-value="@Model.IsValid"/>
        <div class="row">
            <div class="col-6 border-right">
                <div class="row form-group">
                    <div class="col-6">
                        <label asp-for="ProductName" class="control-label">Product name</label>
                    </div>
                    <div class="col-6">
                        <input asp-for="ProductName" type="text" class="form-control" style="max-width: 50% !important; display: inline-block" />
                        <span asp-validation-for="ProductName" class="text-danger"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-6">
                        <label asp-for="InProcessTime" class="control-label">Processing time</label>
                    </div>
                    <div class="col-6">
                        <input asp-for="InProcessTime" type="number" class="form-control" style="max-width: 50% !important; display: inline-block" /> hours
                        <span asp-validation-for="InProcessTime" class="text-danger"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-6">
                        <label asp-for="SetUpTime" class="control-label">Set-up time</label>
                    </div>
                    <div class="col-6">
                        <input asp-for="SetUpTime" type="number" class="form-control" style="max-width: 50% !important; display: inline-block" /> hours
                        <span asp-validation-for="SetUpTime" class="text-danger"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-6">
                        <label asp-for="PreProcessingWaitTime" class="control-label">Preprocessing waiting time</label>
                    </div>
                    <div class="col-6">
                        <input asp-for="PreProcessingWaitTime" type="number" class="form-control" style="max-width: 50% !important; display: inline-block" /> hours
                        <span asp-validation-for="PreProcessingWaitTime" class="text-danger"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-6">
                        <label asp-for="PostProcessingWaitTime" class="control-label">Postprocessing waiting time</label>
                    </div>
                    <div class="col-6">
                        <input asp-for="PostProcessingWaitTime" type="number" class="form-control" style="max-width: 50% !important; display: inline-block" /> hours
                        <span asp-validation-for="PostProcessingWaitTime" class="text-danger"></span>
                    </div>
                </div>

            </div>

            <div class="col-6 border-left pl-5">
                <div class="row form-group">
                    <div class="col-6">
                        <label asp-for="VariableOHPerDLHour" class="control-label">Variable OH Allocation per DL hour</label>
                    </div>
                    <div class="col-6">
                        <input asp-for="VariableOHPerDLHour" type="number" class="form-control" style="max-width: 50% !important; display: inline-block" /> EUR/hour
                        <span asp-validation-for="VariableOHPerDLHour" class="text-danger"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-6">
                        <label asp-for="FixedOHPerYear" class="control-label">Fixed OH per year</label>
                    </div>
                    <div class="col-6">
                        <input asp-for="FixedOHPerYear" type="number" class="form-control" style="max-width: 50% !important; display: inline-block" /> EUR/year
                        <span asp-validation-for="FixedOHPerYear" class="text-danger"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-6">
                        <label asp-for="SellingPrice" class="control-label">Selling price</label>
                    </div>
                    <div class="col-6">
                        <input asp-for="SellingPrice" type="number" class="form-control" style="max-width: 50% !important; display: inline-block" /> EUR
                        <span asp-validation-for="SellingPrice" class="text-danger"></span>
                    </div>
                </div>
               

                <div class="row form-group">
                    <div class="col-6">
                        <label asp-for="WagePerHour" class="control-label">Wage</label>
                    </div>
                    <div class="col-6">
                        <input asp-for="WagePerHour" type="number" class="form-control" style="max-width: 50% !important; display: inline-block" /> EUR/hour
                        <span asp-validation-for="WagePerHour" class="text-danger"></span>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-6">
                        <label asp-for="InterestRate" class="control-label">Interest rate</label>
                    </div>
                    <div class="col-6">
                        <input asp-for="InterestRate" type="number" class="form-control" style="max-width: 50% !important; display: inline-block" /> %
                        <span asp-validation-for="InterestRate" class="text-danger"></span>
                    </div>
                </div>

            </div>
        </div>
        <br />
        <div class="row pt-3 pb-5">

            <div class="d-inline mx-auto"><input type="submit" value="Save changes" class="btn btn-primary px-5" /></div>

        </div>
    </form>
</div>